<phpunit
        bootstrap="./test/bootstrap.php"
        stopOnFailure="false"
        colors="true"
        >
    <testsuites>
        <testsuite name="Controller">
            <directory>./test/Controller</directory>
        </testsuite>
        <testsuite name="Domain">
            <directory>./test/Domain</directory>
        </testsuite>
    </testsuites>
    <logging>
        <log type="coverage-clover" target="./log/phpstorm-coverage.xml"/>
    </logging>
    <filter>
        <whitelist>
            <directory suffix=".php">./src</directory>
        </whitelist>
    </filter>
</phpunit>
